<div class="contianer">
     <div class="row col-10 mx-auto">
          <div class="colHolder col-4">
               <div class="filterHolder"><p>Filter:
                    <select class="custom-select mr-sm-2" id="cboxPos">
                         <option value="">All Positions</option>
                         <option value="QB">QB</option>
                         <option value="RB">RB</option>
                         <option value="FB">FB</option>
                         <option value="WR">WR</option>
                         <option value="TE">TE</option>
                         <option value="OG">OG</option>
                         <option value="OT">OT</option>
                         <option value="C">C</option>
                         <option value="DE">DE</option>
                         <option value="DT">DT</option>
                         <option value="LB">LB</option>
                         <option value="S">S</option>
                         <option value="CB">CB</option>
                         <option value="P">P</option>
                         <option value="K">K</option>
                    </select>

               </p>
               <h1>Avaialble Players</h1>
               </div>
               <div class="avPlayerScroller">
                    {{#each players }}
                         <div class="playerHolder avails" data-pos="{{position}}" data-playerid="{{playerid}}" >   
                               <div class='deets'>
                                   <span class="playerName">{{name}}</span>
                                   <span class="pos">{{position}}</span>
                               </div>                          
                              <span class="rating" style="color:rgb(34, 141, 202) !important;">{{prating}}</span>
                         </div>
                    {{/each}}
               </div>
          </div>
          <div class="colHolder col-4 px-5">
               <h1 style="margin-top:40px; text-align:center;">On the Clock</h1>
               <h3>Round: <spanc class="rndNum"></span></h3>
               <h5>Pick: <spanc class="pickNum"></span></h5>
               <div class="curSelection" data-playerid="1"></div>
               <button class="btn btn-secondary w-100 mb-4" id="btnDraft">Draft Player</button>
               {{#each draftOrder }}
                    <div class="draftedHolder teamIcon" style="display:none" data-draftPos="{{draftOrder}}" data-teamid="{{teamid}}">   
                         <div class='deets'>
                              <img src="../assets/images/{{logo}}"/>
                              <span class="playerName">{{teamName}}</span>
                         </div>                                                   
                    </div>
               {{/each}}
          </div>
          <div class="colHolder col-4">
               <h1 style="margin-top:80px;">Drafted Players</h1>   
               <div class="avPlayerScroller drafterPlayers">            
                    {{#each drafted }}
                         <div class="draftedHolder drafted">   
                                   <div class='deets'>
                                        <img src="../assets/images/{{logo}}"/>
                                   <span class="playerName">{{name}}</span>
                                   <span class="pos">{{position}}</span>
                                   </div>                          
                              <span class="rating" style="color:rgb(34, 141, 202) !important;">{{prating}}</span>
                         </div>
                    {{/each}}
               </div>
          </div>
     </div>
</div>

<script src='https://code.jquery.com/jquery-3.3.1.min.js'
          integrity='sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=' crossorigin='anonymous'></script>
     
<script src="../assets/scripts/draftboard.js"></script>
